@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
  font-family: "playfair-display-semibold-italic"; 
  src: url("../public/fonts/PlayfairDisplay-SemiBoldItalic.ttf"); 
} 

@font-face { 
  font-family: "dm-sans-medium"; 
  src: url("../public/fonts/DMSans-Medium.ttf"); 
} 

@font-face { 
  font-family: "playfair-display-regular"; 
  src: url("../public/fonts/PlayfairDisplay-Regular.ttf"); 
} 

@font-face { 
  font-family: "dm-sans-thin"; 
  src: url("../public/fonts/DMSans-Thin.ttf"); 
} 

@font-face { 
  font-family: "dm-sans-regular"; 
  src: url("../public/fonts/DMSans-Regular.ttf"); 
} 

@font-face { 
  font-family: "dm-sans-bold"; 
  src: url("../public/fonts/DMSans-Bold.ttf"); 
} 
